 @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;900&display=swap');

/*define primary colors to be used in the project*/
:root{
    --prim-orange:#F16718;
    --sec-orange:#FF9B62;
    --dark-shadow:#162542;
    --light-shadow:#7B8BAD;
    --grey:#E8EFF2;
    --white:#FFFFFF;

}
/*use box-sizing to manage the margins and paddings of elements*/
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin:0 200px;
}


/*lets tackle the layout of the page using flex*/
.container{
    display: flex;
    flex-direction: column;/*to set the flex items along the vertical axis*/
    row-gap: 30px;
}
/*tackle each sub-parent container*/
.header{
    display: flex;
    justify-content:space-between;
    margin-top: 55px;
}
.master-container{
    display: flex;
    column-gap: 10px;
}
.keyboard-container{
    display: flex;
    gap:30px;
    /*border: 1px solid red;*/
}
.features-container{
    display: flex;
    gap:10px;
    margin-top:50px;
    /*border: 1px solid red;*/
}
.footer{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
/*lets tackle the first sub-container of content*/
.master-container > *{
    flex: 1;
    /*border:1px solid red;*/
}
/*
.typemaster-container{
    
}*/
/*tackle the flex items in the container*/
.right{
    display: block;
}
.left{
    display: flex;
    flex-direction: column;
    align-self: center;
}
/*tackle content in the first flex item*/
.right .typemaster-img > img{
    /*max-width: 540px;*/
    width:100%; 
    border-radius: 10px;   
}
/*tackle the second sub-container named keyboard-container*/
/*.keyboard-container > *{
    flex:1;
}*/
.phone-img{
    flex:20%;
    /*border: 1px solid cyan;*/
}
.glass-img{
    flex:40%;
    /*border: 1px solid cyan;*/
}
.mwk-text{
    flex:40%;
    align-self: center;
    margin-left: 50px;/*to give a little space to the left of the middle picture*/
    /*border:1px solid cyan;*/
}
.phone-img > img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
.glass-img > img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}

/*tackle the last container-features container*/
/*design the buttons*/
.btn{
    padding:21px;
    border-radius: 5px;
    /*border-color: aliceblue;*/
    text-transform: uppercase;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}
/*work on the colors for the individual buttons*/
.grey-btn{
    background-color: var(--grey);
    border-color: var(--grey);
    color: var(--dark-shadow);
}
.orange-btn{
    background-color: var(--prim-orange);
    border-color: var(--prim-orange);
    color: var(--white);
}
/*typography design*/
h1,h2,h3{
    text-transform: uppercase;
    font-weight: 900;
}
.span-text{
    margin-left: 40px;
    text-transform: uppercase;
}


