 @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;900&display=swap');

/*define colors to be used in the project*/
:root{
    --prim-orange:#F16718;
    --sec-orange:#FF9B62;
    --dark-shadow:#162542;
    --light-shadow:#7B8BAD;
    --grey:#E8EFF2;
    --white:#FFFFFF;

}
/*use box-sizing to manage the margins and paddings of elements*/
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin:0 200px;
    /*color:var(--light-shadow);*/
}

span,p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #7B8BAD;
}
.footer-text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #7B8BAD;
}


/*lets tackle the layout of the page using flex*/
.container{
    display: flex;
    flex-direction: column;/*to set the flex items along the vertical axis*/
    row-gap: 30px;
}
/*tackle each sub-parent container*/
.header{
    display: flex;
    justify-content:space-between;
    margin-top: 55px;
}
.master-container{
    display: flex;
    column-gap: 10px;
}
.keyboard-container{
    display: flex;
    gap:30px;
    /*border: 1px solid red;*/
}
.features-container{
    display: flex;
    gap:10px;
    margin-top:50px;
    /*border: 1px solid red;*/
}
.footer{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

/*lets tackle the first sub-container of content*/
.master-container > *{
    flex: 1;
    
    
}

/*tackle the flex items in the container*/
.right{
    display: block;
}
.left{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap:10px;
}
/*tackle content in the first flex item*/
.typemaster-img > picture > img{
    /*max-width: 540px;*/
    width:100%; 
    height: 100%;
    border-radius: 10px;   
}
/*tackle the second sub-container named keyboard-container*/

.phone-img{
    flex:20%;
    /*border: 1px solid red;*/
}
.glass-img{
    flex:40%;
    /*border: 1px solid cyan;*/
}
.mwk-text{
    flex:40%;
    align-self: center;
    max-width: auto;
    margin-left: 50px;/*to give a little space to the left of the middle picture*/
    /*border:1px solid cyan;*/
}
.mwk-text > p{
    margin-top: 10px;
}
/*once i introduce the picture element i had to rewrite the path of specificity*/
.phone-img > picture > img{
    width:100%;
    height:100%;
    border-radius: 10px;
    padding:0 50%;
    background-color: var(--prim-orange);
    background-blend-mode: multiply;
    background-image: url(./assets/desktop/image-phone-and-keyboard.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*filter:sepia(300%) hue-rotate(250deg) saturate(450%);*/
    
}
.glass-img > picture > img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}

/*tackle the last container-features container*/
/*design the buttons*/
.btn{
    padding:21px;
    border-radius: 5px;
    /*border-color: aliceblue;*/
    text-transform: uppercase;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 16px;
    /*line-height: 26px;*/
}
/*work on the colors for the individual buttons*/
.grey-btn{
    background-color: var(--grey);
    border-color: var(--grey);
    color: var(--dark-shadow);
}
.orange-btn{
    background-color: var(--prim-orange);
    border-color: var(--prim-orange);
    color: var(--white);
}
/*typography design*/
h1,h2,h3{
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Barlow';
}
h1{font-size: 48px;}
h2{font-size:32px;}
h3{font-size: 24px;
    margin-bottom: 12px;}

.span-text{
    margin-left: 20px;
    text-transform: uppercase;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--light-shadow);
}
.feature{
    display: flex;
    flex-direction: column;
    gap:15px;
}
/*hover state of buttons*/
.orange-btn:hover{
    background-color: var(--sec-orange);
    border-color: var(--sec-orange);
}
.grey-btn:hover{
    background-color: var(--dark-shadow);
    border-color: var(--dark-shadow);
    color: var(--white);
}
/*insert the pattern squares*/
.right-square{
    position: absolute;
    /*border: 1px solid red;*/
    right: 0px;
    object-fit:cover;
    max-width: 150px;
    overflow: hidden;
    
}
.rightsq{
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
}
.left-square{
    position: absolute;
    /*border: 1px solid orange;*/
    left:0px;
    align-self: flex-end;
    max-width: 150px;
    overflow:hidden;
    rotate: 180deg;
    
    
}
.leftsq{
    display: block;

}


/*media queries */
@media screen and (max-width:399px) {
    body{
        margin: 0;
    }
    .master-container, .features-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    }
    .keyboard-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .phone-img{
        /*flex:30%;*/
        max-width: 30%;
       /* border: 1px solid red;*/
    
    }
    .glass-img{
        /*flex:70%;*/
       max-width: 60%;
       /*border: 1px solid yellow;*/
    }

    .feature,.mwk-text{
        text-align: center;
        align-items: center;
        justify-content: center;
    } 
    .right-square,.left-square{
        display: none;
    }
    
}

@media screen and (min-width:400px) and (max-width:800px) {
    body{
        margin: 0;
        overflow-x: hidden;
    }
    .master-container{
        display: flex;
        flex-direction: row;
        gap:10px;
    }
    
    .typemaster-container{
        flex: 1;
        /*border: 1px solid red;*/
    }
    /* make flex of the text container*/
    .keyboard-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    

    .mwk-text{
        display: flex;
        column-gap: 50px;
        justify-content: space-between;
    }
    .features-container{
        flex-wrap: wrap;
        gap:20px;
    }

    .feature{
        flex:40%;
        max-width: 50%;
       /* border: 1px solid orange;*/
    }
    .right-square,.left-square{
        display: none;
    }
    .typemaster-img > picture > img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        min-width: 200px;
        min-height: 400px;
        
    }

    
}


